{% extends 'base.html.twig' %}

{% block body %}

<p>Welcome!</p>
<a href="/taskone/">Task 1</a>
<a href="/tasktwo/">Task 2</a>
<a href="/taskthree/">Task 3</a>
<a href="/taskfour/">Task 4</a>

{% endblock %}