{% extends 'base.html.twig' %}

{% block body %}

<p>Необходимо вывести дату ближайшей доставки в формате: "30 ноября".
Алгоритм следующий: если сегодня времени меньше, чем 20-00, то доставка завтра, если более 20-00, то послезавтра!
    Если день доставки попадает на праздничный день, то доставка переносится на следующий день после праздника.
    Праздники записываются в массиве в формате: "месяц-день":('01-01', '05-30') - 1 января, 30 мая
</p>

<p>
    List weekends:
    {% for value in weekends %}
        [{{ value }}]
    {% endfor %}
</p>

<p>
    Next date delivery: {{ dateDelivery }}
</p>

{% endblock %}