{% extends 'base.html.twig' %}

{% block body %}
<p>Создайте массив ста случайных чисел от 1 до 10 и найдите в этом массиве число, которое повторяется наиболшее количество раз.</p>

<p>
    Массив чисел:
    {% for key, value in values %}
        [{{ value }}]
    {% endfor %}
</p>

<p>
    Кол-во повторений(число => кол-во повторений):
    {% for key, value in countValues %}
    [{{ key }} => {{ value }}]
    {% endfor %}
</p>
<p>
    Число, которое повторяется наибольшее кол-во раз:
    {{ maxValue }}
</p>

{% endblock %}